<style>
  #rodape {
    border-width: 50px;
    padding: 20px;
    background-color: rgb(37, 37, 37);
    color: white;
    margin-top: -15px;
  }

  #rodape {
    border-width: 50px;
    padding: 20px;
    background-color: rgb(37, 37, 37);
    color: white;
    margin-top: 460px;
  }
  #final{
    padding-left: -100px;
  }
</style>

<form class="d-flex" action="http://localhost:3000/filtro" method="GET">
  <input class="form-control me-2" type="text" name="age" placeholder="idade" aria-label="Pesquisar">
  <input class="form-control me-2" type="text" name="city" placeholder="cidade" aria-label="Pesquisar">

  <button class="btn btn-outline-dark" type="submit">Pesquisar</button>
</form>
<div id="final">
  <footer>
    <div id="rodape">
      <a class="navbar-brand" href="#">TechPhone</a>
      &copy 2022 copyright - TechPhone
    </div>
  </footer>
</div>