<style>

  #rodape {
    padding: 20px;
    background-color: rgb(37, 37, 37);
    color: white;
    margin-top: 500px;
  }
 
</style>

{{!-- <br><br><br><br><br><br><br><br><br><br> --}}
<div class="w3-row"><br>

<div class="w3-quarter">
  <img src="https://thumbs2.imgbox.com/98/ac/lolvA9Ao_t.png" alt="image host"/></a>

</div>

<div class="w3-quarter">
  <img src="https://thumbs2.imgbox.com/f1/ce/r1GPqLPf_t.png" alt="image host"/></a>
</div>

<div class="w3-quarter">
  <img src="https://thumbs2.imgbox.com/a8/a0/0jSriMwf_t.png" alt="image host"/></a>
</div>

<div class="w3-quarter">
  <img src="https://thumbs2.imgbox.com/ab/3f/jPRjUZEt_t.png" alt="image host"/>
</div>

</div>
<form class="d-flex" action="filtro" method="GET">
  <input class="form-control me-2" type="text" name="armazenamento" placeholder="armazenamento" aria-label="Pesquisar">
  <input class="form-control me-2" type="text" name="ram" placeholder="ram" aria-label="Pesquisar">
  <input class="form-control me-2" type="text" name="processador" placeholder="processador" aria-label="Pesquisar">
  <input class="form-control me-2" type="text" name="tela" placeholder="tela" aria-label="Pesquisar">

  <button class="btn btn-outline-dark" type="submit">Pesquisar</button>
</form>


<footer id="rodape">
  <a class="navbar-brand" href="#">TechPhone</a>
    &copy 2022 copyright - TechPhone
</footer>
