<!DOCTYPE html>
<html lang="en">
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<style>
     body {
    text-align: center;
  }
</style>
<body>

<!-- Header -->
<header class="w3-display-container w3-content w3-center" style="max-width:1500px">
    <a href="https://imgbox.com/YqdZoh7Q" target="_blank"><img src="https://static.vecteezy.com/ti/vetor-gratis/t2/1370782-fundo-preto-com-detalhes-em-ouro-gr%C3%A1tis-vetor.jpg" alt="image host" width="700" height="300"/></a>

  <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
    <h1 >RESULTADO</h1>
    <h5 class="w3-hide-large" style="white-space:nowrap">Teve como resultado:</h5>

  </div>
  
  <!-- Navbar (placed at the bottom of the header image) -->
  
</header>

<!-- Navbar on small screens -->
<div class="w3-center w3-light-grey w3-padding-16 w3-hide-large w3-hide-medium">
<div class="w3-bar w3-light-grey">
  <a href="#" class="w3-bar-item w3-button">Resultado</a>
  <a href="#portfolio" class="w3-bar-item w3-button">Portfolio</a>
  <a href="#contact" class="w3-bar-item w3-button">Contact</a>
</div>
</div>
<!-- Page content -->
<div class="w3-content w3-padding-large w3-margin-top" id="portfolio">

  <!-- Images (Portfolio) -->
  <img src="https://t2.tudocdn.net/83708?w=160&h=304" alt="Ocean" class="w3-image" width="" height="">
  <p>Samsung Galaxy Win</p>
 






  <!-- Contact -->
  
   

    
    </form><br>
    

  </div>

<!-- End page content -->
</div>

</body>
</html>
