
<style>
    #carouselExampleCaptions{
  /*max-width: 900px;
  border-width: 50px;
  text-align: center;*/
}

#carouselExampleCaptions{
  max-width: 920px; 
  margin-top: 90px;  
  margin-left: 200px;
}

/*#menu-filtro{
  background-color: black;
  margin-top: 40px;
}

#processador{
  margin-top: -18px;
  margin-left: 300px;
}

#memoria{
  margin-top: -40px;
  margin-left: 450px;
}

#armazenamento{
  margin-top: -40px;
  margin-left: 800px;
}*/

#legenda{
  color: white;
}

/*#display{
  margin-top: -30px;
  margin-left: 250px;
}*/

body{
  background-color: purple;
}
#menu-inferior{
  margin-top: 30px;
  margin-left: 200px;
}
#menu-inferior2{
  margin-top: 50px;
  margin-left: 200px;
}

#collapseExample{
  background-color: rgb(37, 37, 37);
  color: rgb(37, 37, 37);
}

#rodape{
  border-width: 50px;
  padding: 30px;
  background-color: rgb(37, 37, 37);
  color: white;
}
#img{
  max-width: 1000px;
  max-height: 360px;
 }
 </style>
<div class="container">
          <h1 class="jumbotron-heading">Bem-vindo ao TechPhone</h1>
          <h5 >Nunca foi tão fácil escolher um celular.</h5>
          <p>
            <a href="/usuarios/login" class="btn btn-dark my-2">Login</a>
            <a href="/usuarios/registro" class="btn btn-dark my-2">Cadastrar</a>
          </p>
        </div>