<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechPhone</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>

    <link rel="shortcut icon" href="Screenshot_1-removebg-preview.ico" type="image/x-icon" />

    <style>
        #imagem {
            max-width: 920px;
            margin-top: 50px;
            margin-left: 60px;
        }

        #descricao {
            color: white;
            margin-top: 50px;
        }

        body {
            background-color: rgb(83, 83, 83)
        }

        div#principal {
            background-color: rgb(85, 26, 85);
            padding-top: 50px;
            max-width: 1200px;
            margin-left: 10px;
            margin-top: -30px;
        }

        #rodape {
            padding: 20px;
            background-color: rgb(37, 37, 37);
            color: white;
            margin-top: 150px;
        }

        #titulo {
            margin-top: 10px;
            margin-left: 400px;
            color: white;
        }
    </style>

</head>

<body>

    <div id="titulo">
        <h1>
            Motorola Moto G62 5G
        </h1>
    </div>


    <div id="imagem">
        <img src="https://t2.tudocdn.net/621589?w=980&h=340" alt="">
    </div>
    <div id="descricao">
        <h6>Após ser certificado pela TDRA, nos Emirados Árabes, o Motorola Moto G62 5G recebeu na última quarta-feira (18), o registro de homologação na Agência Nacional de Telecomunicações (Anatel) reforçando a possibilidade de o próximo intermediário da marca ser anunciado em breve no Brasil. <br> <br>

        Conforme revela um documento obtido pelo TudoCelular, o smartphone foi certificado no órgão regulador sob o número de modelo XT2223-2 a pedido da Motorola Mobility LLC. <br> <br>

        Tal como em outros registros, o documento não revela detalhes sobre a ficha técnica e outras características do telefone, mas confirma a presença da conectividade 5G nessa variante. <br> <br>

        De acordo com rumores, o aparelho virá equipado com a plataforma MediaTek Dimensity 920 — octa-core de até 2,5 GHz com litografia de 6 nanômetros — em conjunto com a GPU Mali-G68 e quantidade de memória RAM ainda desconhecida, porém, provavelmente no padrão LPDDR4X. <br> <br>


        </h6>




        <footer>
            <div id="rodape">
                <a class="navbar-brand" href="#">TechPhone</a>
                &copy 2022 copyright - TechPhone
            </div>
        </footer>
</body>

</html>